<footer>
  <p>&copy; 2026 University of Skikda &bull; Developed by: <strong>Latreche Khalil (G4)</strong>, <strong>Belhay Mohammed Fadi (G1)</strong>, <strong>Saker Houssem (G4)</strong> &bull; Semi-structured Data</p>
</footer>
